@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Underdog&family=Zilla+Slab&display=swap');

/*font-family: 'Pirata One', cursive;
font-family: 'Underdog', cursive;
font-family: 'Zilla Slab', serif;

colors:
 dark orange : hex F3944B
 pale orange ; hex F4AF8F
 rose : hex C28C88
 mint : hex B0D2BC 
 dark green : hex 655C37
 purple : hex 8A6EB1
*/
*{
    margin: 0;
    padding: 0;
}
body {
    background: #F4AF8F;
    text-align: left;
}

img {
  width: 200%;
  align-items: flex-start;
}

body-type {
  margin: 0;
  font-family: 'Zilla Slab', serif;
  font-size: 21px ;
}

h3, h4 {
  font-family: 'Underdog', cursive;
}
h3 {font-size: 40px ;}

h1, h2 {
 font-family: 'Pirata One', cursive;
}
 h1 {font-size: 140px;}


.button {
  font: size 48px;
  font-weight: 700;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #F3944B;
    display: flex;
    justify-content: space-around;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: 'Underdog', cursive;
    font-size: 30px;
  
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .homepage main {
    display:flex;
    width: 90%;
    margin: auto;

  }
  

